.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn:hover {
  background: #4edcec;
}

.container {
  height: 500px; 
  width: 400px;
  border: 1px solid #4979ff;
}
